<% throw_content :title, "Get Alerts" %>

<label for="where" class="label">Get Alerts</label>
<input type="text" name="where" id="where" value="City, State OR Zip"/>
<button id="submit">submit</button>
<!--
where.onfocus = clear value && change style to make text black
button.onsubmit = document.href = where.value
--!>
